<h1 class="text-red-300 text-center underline">
  Drinks!
</h1>

<ul>
  <% @drinks.each do |drink| %>
    <li>
      <a href="/drinks/<%= drink.id %>"> 
        <%= drink.name %>
      </a>
    </li>
  <% end %>
</ul>